@import "./inputField.css";
@import "./chart.css";
@import "./loading.css";

* {
  margin: 0%;
  padding: 0%;
}

:root {
  /* Light mode */
  --light-mode-bg: lightgrey;
  --light-mode-text: black;

  /* Dark mode */
  --dark-mode-bg: #1a1a1a;
  --dark-mode-text: #d9d9d9;
}

html {
  background: var(--light-mode-bg);
  color: var(--light-mode-text);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.dark-mode {
  position: absolute;
  right: 20px;
  top: 10px;
}

#error {
  color: red;
  font-size: 34px;
  font-weight: bold;
  margin-top: 150px;
  text-align: center;
}
