@import "./inputField.css";
@import "./chart.css";
@import "./loading.css";

* {
  margin: 0%;
  padding: 0%;
}

html {
  /* dark background */
  /* all dark mode theme includinh text */
  background: #1a1a1a;
  color: #d9d9d9;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}
